/node_modules
/vendor
.env
.git
storage/*.key
/public/hot
/public/storage
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/logs/*
phpunit.xml
.phpunit.result.cache
Dockerfile
docker-compose.yml
path/to/local/sqlite.db
database/database.sqlite-journal
